/* Exercise 1 */

.ex-1-square {
	transition: background-color 3s;
}

.ex-1-square:hover {
	background-color: red;
}

/* Exercise 2 */

.ex-2-square {
	transition: width 1.5s ease-out;
}

.ex-2-square:active {
	width: 100%;
}

/* Exercise 3 */

.ex-3-square {
	transition: border-radius .5s;
}

.ex-3-square:hover {
	border-radius: 50%;
}

/* Exercise 4 */

.ex-4-square {
	transition: opacity 1s;
}

.ex-4-square:hover {
	opacity: 0;
}

/* Exercise 5 */

.ex-5-square {
	transition: all 1s;
}

.ex-5-square:hover {
	margin: -10px;
	height: 120px;
	width: 120px;
}

.ex-5-square:active {
	margin: 35px;
	height: 30px;
	width: 30px;
}

/* Exercise 6 */

.ex-6-img:hover {
	filter: grayscale();
}

/* Exercise 7 */

.ex-7-img {
	transition: filter 1s;
}

.ex-7-img:hover {
	filter: sepia(50%) brightness(95%);
}