/* Exercise 1 */

.ex-1-square {
	transition: background-color 3s;
}

.ex-1-square:hover {
	background-color: red;
}

/* Exercise 2 */

.ex-2-square {
	transition: width 1.5s ease-out;
}

.ex-2-square:active {
	width: 100%;
}

/* Exercise 3 */

.ex-3-square {
	transition: border-radius .5s;
}

.ex-3-square:hover {
	border-radius: 50%;
}

/* Exercise 4 */

.ex-4-square {
	transition: opacity 1s;
}

.ex-4-square:hover {
	opacity: 0;
}

/* Exercise 5 */

.ex-5-square {
	transition: all 1s;
}

.ex-5-square:hover {
	margin: -10px;
	height: 120px;
	width: 120px;
}

.ex-5-square:active {
	margin: 35px;
	height: 30px;
	width: 30px;
}

/* Exercise 6 */

.ex-6-img:hover {
	filter: grayscale();
}

/* Exercise 7 */

.ex-7-img {
	transition: filter 1s;
}

.ex-7-img:hover {
	filter: sepia(50%) brightness(95%);
}

/* Exercise 8 */

.ex-8-img {
	transition: filter 1s, border-radius 1.5s;
}

.ex-8-img:hover {
	filter: sepia(60%) grayscale(50%);
	border-radius: 20px;
}

/* Exercise 9 */

.ex-9-img {
	transition: all 2s;
}

.ex-9-img:hover {
	filter: sepia(50%) grayscale(60%);
	margin: -6px 0;
	border-radius: 30px;
	width: 600px;
}

/* Exercise 10 */

.ex-10-icon {
	animation-name: rotation;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function:  linear;
}

@keyframes rotation {
	/* 25%{
		transform: rotate(-90deg);
	}
	50%{
		transform: rotate(-180deg);
	}
	75%{
		transform: rotate(-270deg);
	} */
	100%{
		transform: rotate(-360deg);
	}
}

/* Exercise 11 */

.ex-11-icon:hover {
	animation-name: rotation2;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}

@keyframes rotation2 {
	90%{
		transform: rotate(270deg);
	}
	100%{
		transform: rotate(0);
	}
}

/* Exercise 12 */

.ex-12-button:hover .ex-12-top-white{
	animation: move-right 2s linear 0s 1;
}

.ex-12-button:hover .ex-12-bottom-white {
	animation: move-left 2s linear 0s 1;
}

@keyframes move-right {
	50%{
		left: calc(100% - 60px);
	}
}

@keyframes move-left {
	50%{
		right: calc(100% - 60px);
	}
}

/* Exercise 13 */

.ex-13-button:hover .ex-13-top-white{
	animation: move-around-top 3s linear 0s 1;
}

.ex-13-button:hover .ex-13-bottom-white {
	animation: move-around-bottom 3s linear 0s 1;
}

@keyframes move-around-top {
	20%{
		left: calc(100% - 40px);
		top: -10px;
	}
	40%{
		left: calc(100% - 40px);
		top: calc(100% - 10px);
	}
	70% {
		left: -10px;
		top: calc(100% - 10px);
	}
	90% {
		left: -10px;
		top: -10px
	}
}

@keyframes move-around-bottom {
	20%{
		right: calc(100% - 40px);
		bottom: -10px;
	}
	40%{
		right: calc(100% - 40px);
		bottom: calc(100% - 10px);
	}
	70% {
		right: -30px;
		bottom: calc(100% - 10px);
	}
	90% {
		right: -30px;
		bottom: -10px
	}
}